[defaults]
inventory = inventory/hosts.yml
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
remote_user = equail
timeout = 120
stdout_callback = yaml

[privilege_escalation]
become = true
become_method = sudo

[ssh_connection]
host_key_checking = false
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
